<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="URL" value="https://sparkdigital.com/"/>
    <test name="Test on chrome">
        <parameter name="BrowserType" value="Chrome"/>
        <classes>
            <class name="TestCases.testSpark"/>
        </classes>
    </test>
    <test name="Test on Firefox" enabled="false">
        <parameter name="BrowserType" value="Firefox"/>
        <classes>
            <class name="TestCases.testSpark"/>
        </classes>
    </test>
    <test name="Test on Edge" enabled="false">
        <parameter name="BrowserType" value="Edge"/>
        <classes>
            <class name="TestCases.testSpark"/>
        </classes>
    </test>
</suite>